<h1>Users#index</h1>
<%= link_to "Create New User", new_user_path %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Created At</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td>
           <%= link_to user.id, user_path(user) %>
        </td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
