@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Funnel Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #306BAC;
}

body {
    background-color: #EDF3FD;
}

.devise-container {
    background-color: white;
    padding: 30px;
    margin: 0 auto; /* Center horizontally */
    margin-top: 10vh; /* Center vertically using margin */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.page-heading {
    text-align: center;
    color: #306BAC;
    margin-bottom: 20px;
}

.button {
    width: 100%;
    background-color: #306BAC;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #274a87;
}

input {
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 99%;
    padding: 3px;
}

input[type="submit"] {
    display: inline-block;
    background-color: #306BAC;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
}

input[type="submit"]:hover {
    background-color: #274a87; /* Darker shade of #306BAC */
}

form label {
    font-weight: 500;
}

body {
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 16px;
}

.banner {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.banner a {
    color: white;
    margin: 0 10px;
}

.banner a:hover, .banner a:visited {
    color: #274a87;
}

.banner button, .button {
    background-color: #306BAC;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner button:hover, .button:hover {
    background-color: #274a87; /* Darker shade for hover */
}

.button:visited {
    color: white;
}

body {
    padding-top: 50px; /* Adjust this value to match the banner height */
}

.page-heading {
    font-size: 2em;
    text-align: center;
}

.number {
    font-weight: 600;
    aspect-ratio: 1;
}

a {
    color: #306BAC;
    text-decoration: none;
}

a:hover {
    color: #274a87;
}

a:visited {
    color: #306BAC;
}

.articles ul {
    list-style-type: none;
    padding: 0;
}

.articles li {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.notice {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.title {
    font-size: 56px;
}

.title-2 {
    font-size: 42px;
}

.back {
    padding-top: 2em;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.task-date {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 15px;
    color: #333;
    flex-shrink: 0;
}

.task-title {
    font-size: 1.2em;
    color: #306BAC;
    flex-grow: 1;
}

.index-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.index-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.index {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 15px;
    color: #333;
    flex-shrink: 0;
}

.index-name {
    font-size: 1.2em;
    color: #306BAC;
    flex-grow: 1;
}

.index-name a {
    text-decoration: none;
    color: inherit;
}

.index-name a:hover {
    color: #274a87; /* Darker shade for hover */
}
