@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Funnel Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #306BAC;
}

body {
    background-color: #EDF3FD;
}

.devise-container {
    background-color: white;
    padding: 30px;
    margin: 0 auto; /* Center horizontally */
    margin-top: 10vh; /* Center vertically using margin */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.page-heading {
    text-align: center;
    color: #306BAC;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #274a87;
}

input {
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 99%;
    padding: 3px;
}

input[type="submit"] {
    display: inline-block;
    background-color: #306BAC;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
}

input[type="submit"]:hover {
    background-color: #274a87; /* Darker shade of #306BAC */
}

form label {
    font-weight: 500;
}

.container {
    background-color: white;
    padding: 30px;
    margin: 0 auto; 
    margin-top: 10vh; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.banner {
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.banner a {
    color: white;
    margin: 0 10px;
}

.banner a:hover, .banner a:visited {
    color: #274a87;
}

.banner button, .button {
    background-color: #306BAC;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner button:hover, .button:hover {
    background-color: #274a87; /* Darker shade for hover */
}

.button {
    width: 100%;
    background-color: #306BAC;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:visited {
    color: white;
}

.page-heading {
    font-size: 2em;
    text-align: center;
}


a {
    color: #306BAC;
    text-decoration: none;
}

a:hover {
    color: #274a87;
}

a:visited {
    color: #306BAC;
}

.alert {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 1%; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    max-width: 90%; 
    background-color: #f8d7da; 
    color: #721c24;
  }
  
  .notice {
    background-color: #d4edda; 
    color: #155724; 
  }

  
